.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


button.breadcrumb {
	font-size: 32px;
	white-space: nowrap;
	padding: 5px 10px;
    border: solid 2px black;
    cursor: pointer;
	background-color: white;
}

button.breadcrumb-active {
	background-color: black;
    color: white;
}